.blok {
    margin: 0, auto;
    max-width: 100%;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contacts {
    font-weight: bold;

}